body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}
#video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#scan-button {
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    background: rgb(255, 123, 0);
    opacity: 0.5;
    border: none;
    font-size: 40px;
    white-space: pre-line;
}